body {
    font-family: 'Roboto Condensed';
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1741&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Navigation ========================================================== */
.nav-link {
    padding-left: 0;
}

/* Jumbotron ========================================================== */

.jumbotron {
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.0);
}

hr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

/* Heading ========================================================== */
.heading {
    padding-top: 2rem;
}

.text-info {
    color: white !important;
}

/* Search Card ========================================================== */
.search-card {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.0)
        /* Green background with 30% opacity */
}

.form-control {
    height: 3rem;
}

.btn-outline-light {
    margin: 1rem 0;
}

.btn-outline-success {
    margin: 1rem 0;
    border-color: green;
    color: green
}

.btn {
    width: 10rem;
    margin-right: 1rem;
}

/* Search Results ========================================================== */
.book-card,
.no-results {
    margin: 2rem 1rem;
    padding: 0;

}

.search-results {
    padding: 0;
}

h3 {
    color: white;
}

.book-card {
    background: rgba(255, 255, 255, 0.5);
}

.card-text,
.card-title,
.card-buttons {
    padding-left: 1rem;
}

.content {
    padding-left: 0;
    padding-right: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-img {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .card-img {
        width: 128px;
    }

    .content {
        padding-right: 1rem;
        padding-left: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .card-img {
        width: 160px;
    }

    .content {
        padding-right: 1rem;
        padding-left: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-img {
        width: 200px;
    }

    .content {
        padding-right: 1rem;
        padding-left: 2rem;
    }
}